* {
    box-sizing: border-box;
}

body,
h1,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    min-height: 110vh;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
}

nav img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/2;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    z-index: 20;
    font-size: 0.65rem;
    aspect-ratio: 16/2;
    align-items: center;
}

footer .whatsapp {
    font-weight: bold;
}

main img {
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
    footer {
        font-size: 1rem;
    }
}
